html {
  font-size: 10px;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Container styles */
.container {
  max-width: 90rem;
  width: 100%;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.questionNumber {
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-family: "Arial", sans-serif;
}

.testPart {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionBox {
  display: flex;
  flex-direction: column;
}

.questionBox h4 {
  text-align: center;
  font-size: 2rem;
}

/* Color Box styles */
.colourBox {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  display: flex;
  border: 0.15rem solid #333;
  border-radius: 3rem;
  overflow: hidden;
}

.colourCell {
  width: 25%;
  height: auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  border: 0.15rem solid #333;
}

/* Form styles */
form {
  margin: 3rem;
  border: 0.3rem solid black;
  border-radius: 3rem;
  padding: 4.5rem 10rem;
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-items: center;
}

/* Radio button styles */
input[type="radio"] {
  margin-right: 0.75rem;
  scale: 1.2;
}

input[type="radio"] + label {
  font-size: 2rem;
}

/* Submit button styles */
.submitBTN {
  padding: 1.5rem 3rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 40%;
}

.submitBTN:hover {
  background-color: #0056b3;
}

/* Answer options styles */
.answersBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 3rem;
}

.task {
  font-style: italic;
  margin: 1.5rem;
  font-size: 1.8rem;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 33, 33);
}

img {
  width: 40rem;
  height: auto;
}

.userPrompt {
  font-size: 2rem;
  text-align: center;
  color: #0056b3;
}

.testPart {
  font-size: 4.5rem;
}

@media (min-width: 4000px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }

  form {
    width: 60vw;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 5px;
  }
}
