html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  margin: auto;
  background-color: #fdffe6;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group input[type="text"] {
  width: 80%;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #007bff;
}

.submit {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: black;
  background-color: orange;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.2s linear;
  font-size: 1.6rem;
}

.submit:hover {
  color: yellow;
  transform: scale(1.1);
}

.form-group label {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.context {
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 1.6rem;
}

.logo {
  color: #333;
  position: relative;
  top: -6rem;
  text-shadow: 0 0 0.2rem #fff;
  font-size: 5rem;
  background-color: orange;
  border: 0.1rem solid orange;
  border-radius: 1.5rem;
  display: inline-block;
  padding: 1rem 4rem;
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 70%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 6px;
  }
  .container {
    width: 85%;
  }
}
